.page-header {
	.logo {
		display: flex;
		align-items: center;
		line-height: 1;
		color: $color-company;
		&__image {
		    flex: none;
		    width: 58px;
		    max-height: 38px;
		    margin-right: 12px;
		}
		&__name {
			text-align: left;
			&__title {
				margin-top: -2px;
				font-size: 29px;
				font-weight: 700;
				letter-spacing: 1px;
			}
			&__subtitle {
				font-size: 15px;
			}
		}
	}
	.app-name {
		font-size: 17px;
		font-weight: 500;
		color: $color-company;
	}
	.pct {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0 30px;
		border-bottom: 1px solid $color-company;
	}
	@include r($bp-desktop-md) {
		.pct {
			padding: 30px 0;
		}
	}
	@include r($bp-tab-sm) {
		.logo {
			&__image {
			    width: 51px;
			    max-height: 35px;
			    margin-right: 9px;
			}
			&__name {
				text-align: left;
				&__title {
					font-size: 27px;
					letter-spacing: 1.3px;
				}
				&__subtitle {
					font-size: 14px;
				}
			}
		}
	}
	@include r($bp-phone-md) {
		.app-name {
			margin-top: 20px;
		}
		.pct {
			padding: 22px 0 24px;
			flex-direction: column;
		}
	}
}